[submodule "lib/LIS3DH-Pico"]
	path = lib/LIS3DH-Pico
	url = git@github.com:cornellrocketryteam/LIS3DH-Pico.git
[submodule "lib/BNO055-Pico"]
	path = lib/BNO055-Pico
	url = git@github.com:cornellrocketryteam/BNO055-Pico.git
[submodule "lib/no-OS-FatFS-SD-SDIO-SPI-RPi-Pico"]
	path = lib/no-OS-FatFS-SD-SDIO-SPI-RPi-Pico
	url = https://github.com/carlk3/no-OS-FatFS-SD-SDIO-SPI-RPi-Pico.git
[submodule "lib/pico-sdk"]
	path = lib/pico-sdk
	url = git@github.com:raspberrypi/pico-sdk.git
[submodule "lib/RadioLib"]
	path = lib/RadioLib
	url = git@github.com:jgromes/RadioLib.git
[submodule "lib/BMP388-Pico"]
	path = lib/BMP388-Pico
	url = git@github.com:cornellrocketryteam/BMP388-Pico.git
[submodule "lib/MB85RS-Pico"]
	path = lib/MB85RS-Pico
	url = git@github.com:cornellrocketryteam/MB85RS-Pico.git
[submodule "lib/ublox-MX-Pico"]
	path = lib/ublox-MX-Pico
	url = git@github.com:cornellrocketryteam/ublox-MX-Pico.git
[submodule "lib/ADS1015-Pico"]
	path = lib/ADS1015-Pico
	url = git@github.com:cornellrocketryteam/ADS1015-Pico.git
[submodule "lib/BLiMS"]
	path = lib/BLiMS
	url = git@github.com:cornellrocketryteam/BLiMS.git
