[submodule "lib/LIS3DH-Pico"]
	path = lib/LIS3DH-Pico
	url = git@github.com:cornellrocketryteam/LIS3DH-Pico.git
[submodule "lib/Si7021-Pico"]
	path = lib/Si7021-Pico
	url = git@github.com:cornellrocketryteam/Si7021-Pico.git
[submodule "lib/BNO055-Pico"]
	path = lib/BNO055-Pico
	url = git@github.com:cornellrocketryteam/BNO055-Pico.git
[submodule "lib/no-OS-FatFS-SD-SDIO-SPI-RPi-Pico"]
	path = lib/no-OS-FatFS-SD-SDIO-SPI-RPi-Pico
	url = https://github.com/carlk3/no-OS-FatFS-SD-SDIO-SPI-RPi-Pico.git
